<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- add noty js cdn for notification -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <!-- jquary links attached after noty because noty no longer support-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


        <link rel="stylesheet" type="text/css" href="<%= assetPath('css/layout.css') %>">
        <link rel="stylesheet" type="text/css" href="<%= assetPath('css/header.css') %>">
        <link rel="stylesheet" type="text/css" href="<%= assetPath('css/footer.css') %>">
        <%- style %>    <!-- extract css link from ex.ejs, and attached to here -->
    </head>
    <body>
       <%- include('_header'); %>

      

       <main id="layout-main">
            <%- body %>   <!--contains variable part -->
       </main>

        <%- include('_footer'); %>

        <%- script %>  <!-- extract script link from ex.ejs and attached to here -->
    
        <script>
             <% if(flash.success && flash.success.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.success %>',
                    type:'success', // color 
                    layout: 'topRight',
                    timeout: 1500
                }).show();          
        <% } %>

        <% if(flash.error && flash.error.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.error %>',
                    type:'error', // color 
                    layout: 'topRight',
                    timeout: 1500
                }).show();          
        <% } %>
        </script>
    </body>
</html>