<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <%- style %>    <!-- extract css link from ex.ejs, and attached to here -->
    </head>
    <body>
       <%- include('_header'); %>

       <% if(flash.success && flash.success.length > 0) { %>
        <h5>
            <%= flash.success %>
        </h5>
        <% } %>

       <main id="layout-main">
            <%- body %>   <!--contains variable part -->
       </main>

        <%- include('_footer'); %>

        <%- script %>  <!-- extract script link from ex.ejs and attached to here -->
    </body>
</html>